.search {
    margin: auto;
    margin-top: 13%;
    max-width: 300px;
    text-align: center;
    border-radius: 15px;
}

button {
    width: 50%;
    background: linear-gradient(to right, rgb(101, 156, 170), rgb(41, 73, 131));
    border-radius: 30px;
    color: white;
}
