
<mat-card class="search">
    <mat-card-content class="content">
        <form method="POST" (submit)="onSearch(nif)" id="search" class="input-all">
            <mat-form-field>
                <input matInput name="nif" type="text" class="input-field" placeholder="Introduza o Nif"
                    [(ngModel)]="nif" required />
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary">Pesquisar</button>
              </mat-card-actions>
        </form>
    </mat-card-content>
    <app-user ></app-user>
</mat-card>

