<mat-card class="mat-elevation-z8">
  <div>
    <mat-form-field appearance="outline" id="filter">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="filterTable($event.target.value)"
        placeholder="Ex: Nome"
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let user">{{ user.fullname }}</td>
      </ng-container>

      <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef>NIF</th>
        <td mat-cell *matCellDef="let user">{{ user.nif }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let user">{{ user.age }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let user">{{ user.sex }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Telemovél</th>
        <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Morada</th>
        <td mat-cell *matCellDef="let user">{{ user.address }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>Cidade</th>
        <td mat-cell *matCellDef="let user">{{ user.city }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let user">{{ user.state }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let user">
          <a mat-button mat-icon-button [routerLink]="['edit', user._id]">
            <mat-icon matTooltip="edit">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</mat-card>
