<app-nav></app-nav>
<mat-card class="contact-card">
    <h2>Contactos para mais informações</h2>
    <h3>Contacto da Clinica:</h3>
    <p>Tlm: 252 789 123 (Número ficticio)</p>
    <h3>Contacto da Saúde 24:</h3>
    <p>Tlm: 808 24 24 24</p>
</mat-card>