.contact-card {
    margin: auto;
    margin-top: 10%;
    max-width: 400px;
    text-align: center;
    border-radius: 15px;
}

h3 {
    text-align: justify;
    color: gray;
    padding-top: 5%;
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    color: rgb(71, 68, 68);
    padding-top: 2%;
    font-family: 'Segoe UI', sans-serif;
    
}

p {
    
    text-align: justify;
    font-family: 'Segoe UI', sans-serif;
}
