mat-toolbar-row {
    justify-content: center;
    color: white;
}

mat-toolbar {
    background-color: rgba(255, 255, 255, 0.151);
}

button:hover{
    background-color: rgba(247, 241, 241, 0.596) ;
}

.mat-button{
    margin: 1rem;
}
