<mat-toolbar class="NavTechnic">
    <mat-toolbar-row>
        <button mat-button [routerLink]="['/technic/home', technicNIF]"><mat-icon>home</mat-icon></button>
        <button mat-button [routerLink]="['/technic/users']">Utilizadores</button>
        <button mat-button [routerLink]="['/technic/orders']">Pedidos</button>
        <button mat-button (click)="logout()" [routerLink]="['/']">Sair<mat-icon>arrow_forward</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
