<mat-card>
    <form method="POST" id="orderForuser" class="input-all">
        <mat-label id="date">Data do exame:</mat-label>
        <mat-form-field>
            <mat-label>Escolha a Data</mat-label>
            <input name="date" matInput [matDatepicker]="picker" [(ngModel)]="order.exameDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
        <mat-label id="state">Estado do exame:</mat-label>
        <mat-radio-group name="state" aria-label="Select an option" [(ngModel)]="order.state">
            <mat-radio-button color="primary" value="waiting">Esperando</mat-radio-button>
            <mat-radio-button color="primary" value="done">Feito</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-label id="result">Resultado:</mat-label>
        <mat-radio-group name="result" aria-label="Select an option" [(ngModel)]="order.result">
            <mat-radio-button color="primary" value="waiting">Esperando</mat-radio-button>
            <mat-radio-button color="primary" value="positive">Positivo</mat-radio-button>
            <mat-radio-button color="primary" value="negative">Negativo</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-card-actions class="submit">
            <button mat-raised-button color="primary" (click)="updateOrder()">
                Atualizar Utilizador
            </button>
        </mat-card-actions>
    </form>
</mat-card>