mat-card {
    margin: auto;
    margin-top: 10%;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
  }
  
  .mat-radio-button~.mat-radio-button{
    margin-left: 16px;
    margin-top: 16px;
  }
