<mat-card class="mat-elevation-z8">
    <div>
      <mat-form-field appearance="outline" id="filter">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="filterTable($event.target.value)"
          placeholder="Ex: UserId"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>ID do Utilizador</th>
          <td mat-cell *matCellDef="let order">{{ order.userId }}</td>
        </ng-container>
  
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data do pedido</th>
          <td mat-cell *matCellDef="let order">{{ order.date }}</td>
        </ng-container>
  
        <ng-container matColumnDef="events">
          <th mat-header-cell *matHeaderCellDef>Eventos</th>
          <td mat-cell *matCellDef="let order">{{ order.events }}</td>
        </ng-container>
  
        <ng-container matColumnDef="healthState">
          <th mat-header-cell *matHeaderCellDef>Estado de saúde</th>
          <td mat-cell *matCellDef="let order">{{ order.healthState }}</td>
        </ng-container>
  
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado do pedido</th>
          <td mat-cell *matCellDef="let order">{{ order.state }}</td>
        </ng-container>
  
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef>Resultado</th>
          <td mat-cell *matCellDef="let order">{{ order.result }}</td>
        </ng-container>
  
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let order">
            <a mat-button mat-icon-button [routerLink]="['edit', order._id]">
              <mat-icon matTooltip="edit">edit</mat-icon>
            </a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card>
  