.order {
    margin: auto;
    margin-top: 5%;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 5%;
}

.mat-radio-button~.mat-radio-button{
    margin-left: 16px;
}

#sex{
    margin-right: 15px;
}
