<app-nav></app-nav>
<mat-card class="order">
    <mat-card-content class="content">
        <mat-label>Primeira vez a efectuar este exame na nossa clínica?</mat-label>
        <br>
        <mat-form-field>
            <mat-select [(value)]="selected" required>
                <mat-option (click)="option = true" value="yes">Sim</mat-option>
                <mat-option (click)="option = false" value="no">Não</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <form method="POST" *ngIf="!option" id="orderForuser" class="input-all">
        <mat-form-field class="nif">
            <input matInput name="nif" type="text" class="input-field" placeholder="Introuduza o seu NIF" [formControl]="nif" required />
            <mat-error *ngIf="nif.invalid">{{getErrorMessageNif()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-card-content class="eventsUser">
            <mat-label>Selecione acontecimentos já realizados:</mat-label><br>
            <mat-checkbox [formControl]="riscGroup" value="riscGroup" color="primary">Pertenço a um grupo de risco
            </mat-checkbox><br>
            <mat-checkbox [formControl]="callHealth24" value="callHealth24" color="primary">Liguei a saude24</mat-checkbox><br>
            <mat-checkbox [formControl]="riscWorkPlace" value="riscWorkPlace" color="primary">Sou trabalhador em locais de risco</mat-checkbox><br>
        </mat-card-content>

        <mat-card-content>
            <mat-form-field class="healthStateUser">
                <mat-label>Reporte o seu estado de saúde</mat-label>
                <textarea [formControl]="healthState" matInput
                    placeholder="Descreva o seu estado de saúde..."></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="submit">
            <button mat-raised-button (click)="submitInUser()" color="primary">Submeter Pedido</button>
        </mat-card-actions>
    </form>
    <form method="POST" action="/home" *ngIf="option" id="order" class="input-all">
        <mat-form-field class="fullname">
            <input matInput name="fullname" type="text" class="input-field" placeholder="Nome Completo"
                [(ngModel)]="fullname" required />
        </mat-form-field>
        <br>
        <mat-form-field class="age">
            <input matInput name="age" type="number" class="input-field" placeholder="Idade"
                [(ngModel)]="age" required />
        </mat-form-field>
        <br>
        <mat-label id="sex">Sexo:</mat-label>
        <mat-radio-group aria-label="Select an option" [formControl]="sex">
            <mat-radio-button color="primary" value="male">Masculino</mat-radio-button>
            <mat-radio-button color="primary" value="female">Femenino</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="nif">
            <input matInput name="nif" type="text" class="input-field" placeholder="NIF" [formControl]="nif" required />
            <mat-error *ngIf="nif.invalid">{{getErrorMessageNif()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="contact">
            <input matInput name="contact" type="text" class="input-field" placeholder="Contacto" [formControl]="contact    " required />
            <mat-error *ngIf="contact.invalid">{{getErrorMessageContact()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="address">
            <input matInput name="address" type="text" class="input-field" placeholder="Morada" [(ngModel)]="address"
                required />
        </mat-form-field>
        <br>
        <mat-form-field class="city">
            <input matInput name="city" type="text" class="input-field" placeholder="Cidade" [(ngModel)]="city"
                required />
        </mat-form-field>
        <br>
        <div class="example-container">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="utilizador@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <br>
        <mat-card-content class="events">
            <mat-label>Selecione acontecimentos já realizados:</mat-label><br>
            <mat-checkbox [formControl]="riscGroup" value="riscGroup" color="primary">Pertenço a um grupo de risco</mat-checkbox><br>
            <mat-checkbox [formControl]="callHealth24" value="callHealth24" color="primary">Liguei a saude24</mat-checkbox><br>
            <mat-checkbox [formControl]="riscWorkPlace" value="riscWorkPlace" color="primary">Sou trabalhador em locais de risco</mat-checkbox><br>
        </mat-card-content>


        <mat-form-field class="healthState">
            <mat-label>Reporte o seu estado de saúde</mat-label>
            <textarea [formControl]="healthState" matInput placeholder="Descreva o seu estado de saúde..."></textarea>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button (click)="submit()" color="primary">Submeter Pedido</button>
        </mat-card-actions>
    </form>
</mat-card>