<app-nav-technic></app-nav-technic>
<mat-card *ngIf="technic != null">
  <mat-icon *ngIf="technic.sex == 'female'"><img src="assets/female.png" width="50" height="50"></mat-icon>
  <mat-icon *ngIf="technic.sex == 'male'"><img src="assets/male.png" width="50" height="50"></mat-icon>
  <mat-card-title> Nome: {{ technic.fullname }} </mat-card-title>
  <mat-card-subtitle> Email: {{ technic.email }} </mat-card-subtitle>
  <mat-card-content> NIF: {{ technic.nif }} </mat-card-content>
  <mat-card-content *ngIf="technic.sex == 'female'"> Sexo: Feminino </mat-card-content>
  <mat-card-content *ngIf="technic.sex == 'male'"> Sexo: Masculino </mat-card-content>
  <mat-card-content> Telemóvel: {{ technic.phone }} </mat-card-content>
  <mat-card-content> Endereço: {{ technic.address }} </mat-card-content>
  <mat-card-content> Cidade: {{ technic.city }} </mat-card-content>
</mat-card>
