<app-nav></app-nav>
<div class="hero">
    <h1>Deseja fazer um pedido de exame de Covid-19?</h1>
    <div class="button">
        <a mat-button [routerLink]="['/order']">Efectuar Pedido</a>
    </div>
</div>