.hero {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-top: 180px;
    line-height: 80px;
}

.button{
    text-align: center;
}

a {   
    border: 1px white solid;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
}

a:hover {
    color: black;
    background-color: white;
    transition: all 0.5 ease-in;
}