<mat-card>
  <form method="POST" id="orderForuser" class="input-all">
    <mat-form-field class="fullname">
      <input matInput name="fullname" type="text" class="input-field" placeholder="Nome Completo"
        [(ngModel)]="user.fullname" required />
    </mat-form-field>
    <br />
    <mat-form-field class="age">
      <input matInput name="age" type="number" class="input-field" placeholder="Idade" [(ngModel)]="user.age"
        required />
    </mat-form-field>
    <br />
    <mat-label id="sex">Sexo:</mat-label>
    <mat-radio-group name="sex" aria-label="Select an option" [(ngModel)]="user.sex">
      <mat-radio-button color="primary" value="male">Masculino</mat-radio-button>
      <mat-radio-button color="primary" value="female">Femenino</mat-radio-button>
    </mat-radio-group>
    <br />
    <mat-form-field class="nif">
      <input matInput name="nif" type="text" class="input-field" placeholder="NIF" [(ngModel)]="user.nif" required />
    </mat-form-field>
    <br />
    <mat-form-field class="phone">
      <input matInput name="phone" type="text" class="input-field" placeholder="Contacto" [(ngModel)]="user.phone"
        required />
    </mat-form-field>
    <br />
    <mat-form-field class="address">
      <input matInput name="address" type="text" class="input-field" placeholder="Morada" [(ngModel)]="user.address"
        required />
    </mat-form-field>
    <br />
    <div class="example-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput name="email" placeholder="utilizador@example.com" [(ngModel)]="user.email" required />
      </mat-form-field>
      <br />
      <mat-form-field class="city">
        <input matInput name="city" type="text" class="input-field" placeholder="Cidade" [(ngModel)]="user.city"
          required />
      </mat-form-field>
      <br />
      <mat-label id="state">Estado:</mat-label>
      <mat-radio-group name="state" aria-label="Select an option" [(ngModel)]="user.state">
        <mat-radio-button color="primary" value="suspect">Suspeito</mat-radio-button>
        <mat-radio-button color="primary" value="positive">Positivo</mat-radio-button>
        <mat-radio-button color="primary" value="negative">Negativo</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-card-actions class="submit">
        <button mat-raised-button color="primary" (click)="updateUser()">
          Atualizar Utilizador
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>