.login-card {
    margin: auto;
    margin-top: 10%;
    max-width: 300px;
    text-align: center;
    border-radius: 15px;
}

.header {
    display: inline-block;
    vertical-align: middle;
}

.log {
    padding: 10px;
}

button {
    width: 50%;
    background: linear-gradient(to right, rgb(101, 156, 170), rgb(41, 73, 131));
    border-radius: 30px;
    color: white;
}



/* .top {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 11%;
}

.box {
    width: 380px;
    height: 380px;
    margin: auto;
    position: relative;
    background: #fff;
    padding: 5px;
    border-radius: 20px;
}
 */

/*.box li {
    width: 25%;
    padding: 10px 30px;
    text-align: center;
    list-style: none;
    background: linear-gradient(to right, rgb(101, 156, 170), rgb(41, 73, 131));
    color: white;
    outline: none;
    border: 0;
    border-radius: 30px;
    margin: auto;
    margin-top: 10%;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    transition: .5s;
}*/

/* li {
    text-align: center;
    list-style: none;
    margin: auto;
    margin-top: 10%;
    font-family: 'Segoe UI', sans-serif;
    font-size: 26px;
}

.input-all {
    margin-top: 5%;
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submitbtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(101, 156, 170), rgb(41, 73, 131));
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.checkbox {
    margin: 30px 10px 30px 0;
}

span {
    color: gray;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
    font-family: 'Segoe UI', sans-serif;
} */