<app-nav></app-nav>
<mat-card class="login-card">
  <mat-card-header class="header">
    <mat-card-title class="log">Entrar</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form method="POST" (submit)="login($event, loginForm)" action="/login" id="login" class="input-all" #loginForm="ngForm">
      <mat-form-field>
        <input matInput name="username" type="text" class="input-field" placeholder="Introduza o NIF"
          [(ngModel)]="username" required />
        <mat-error *ngIf="errors == 404">Utilizador não existe!!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="password" matInput name="password" type="password" class="input-field"
          placeholder="Palavra-passe" required />
          <mat-error *ngIf="errors == 401">Palavra Passe Incorreta!!</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Entrar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
