<mat-toolbar class="toolbar">
  <div mat-toolbar-row class="main-nav">
    <a mat-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button [routerLink]="['/contacts']">CONTACTOS</a>
    <a mat-button [routerLink]="['/login']">ENTRAR</a>
  </div>
</mat-toolbar>