.toolbar {
  background: none;
  margin: auto;
}
.main-nav {
  margin: auto;
  margin-top: 30px;
  margin-right: 5%;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

a:hover {
  color: black;
  background-color: white;
  transition: all 0.5 ease-in;
}

