/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('bakground/img2.jpg');
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
